{% extends "base.html" %}
{% block title %}Submit Information{% endblock %}
{% block content %}
<div class="container">
    <h2>Submit Your Information</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nationality.label }}
            {{ form.nationality(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.destination_country.label }}
            {{ form.destination_country(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.purpose_of_visit.label }}
            {{ form.purpose_of_visit(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.duration_of_stay.label }}
            {{ form.duration_of_stay(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
